<div class="blog-container">
  <div class="blog-container-inner">
    <div class="mb-4">
      <h1 class="blog-title">Categories</h1>
    </div>

    <!-- <div class="mb-6">
      <input type="text" id="search-input" placeholder="Search for articles..." [(ngModel)]="query" (change)="queryArticles(query)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div> -->

    <div class="mt-4">
      <div class="category-grid">
        <div class="entry-container" *ngFor="let category of categories">
          <a class="entry-name">{{ category.name }}</a>
          <h5 class="entry-description">{{ category.count }} article(s)</h5>

          <a [routerLink]="['/category/detail', category.name]" class="entry-link">
            View articles
            <fa-icon [icon]="arrowRight" class="ml-2"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
