<div class="blog-container">
  <div class="blog-container-inner">
    <div class="mb-4">
      <h5 class="time">{{ content.metadata.time }}</h5>
      <h1 class="blog-title title-text">{{ content.metadata.title }}</h1>
    </div>

    <app-article-view [articleId]="articleId"></app-article-view>

    <div class="pill-box mt-8">
      <div class="pill border-gray-800 text-gray-800">
        <a class="pill-text" [routerLink]="['/category/detail', content.metadata.category]">{{ content.metadata.category }}</a>
      </div>
      <div class="pill bg-gray-200 text-black" *ngFor="let tag of content.metadata.tags">
        <a class="pill-text" [routerLink]="['/tag/detail', tag]">{{ tag }}</a>
      </div>
    </div>

    <app-comment-send [articleId]="articleId"></app-comment-send>

    <div class="w-full border-2 border-gray-200 mt-4 p-5">
      <div>
        <h3 class="title-text text-2xl">Comments ({{ comments.length }})</h3>
      </div>

      <div class="mt-2 p-2">
        <app-comment-entry *ngFor="let comment of comments" [comment]="comment"></app-comment-entry>
      </div>
    </div>
  </div>
</div>
