<div class="blog-container">
  <div class="blog-container-inner">
    <div class="mb-4">
      <h5 class="time">{{ formattedTime() }}</h5>
      <h1 class="blog-title title-text">{{ content.metadata.title }}</h1>
    </div>

    <app-article-view [articleId]="articleId"></app-article-view>

    <div class="pill-box mt-8">
      <div class="pill border-gray-800 text-gray-800">
        <a class="pill-text" [routerLink]="['/category/detail', content.metadata.category]">{{ content.metadata.category }}</a>
      </div>
      <div class="pill bg-gray-200 text-black" *ngFor="let tag of content.metadata.tags">
        <a class="pill-text" [routerLink]="['/tag/detail', tag]">{{ tag }}</a>
      </div>
    </div>

    <app-comment [articleId]="articleId"></app-comment>
  </div>
</div>
