<div class="container">
  <a class="title"
    [routerLink]="['/article/read', metadata.articleId]">{{ metadata.title }}</a>
  <h5 class="time">{{ metadata.time }}</h5>

  <div class="pill-box">
    <div class="pill border-gray-800 text-gray-800">
      <a class="pill-text text-xl text-black" [routerLink]="['/category/detail', metadata.category]">{{ metadata.category }}</a>
    </div>
    <div class="pill bg-gray-200 text-black" *ngFor="let tag of metadata.tags">
      <a class="pill-text text-black" [routerLink]="['/tag/detail', tag]">{{ tag }}</a>
    </div>
  </div>
</div>

<hr class="break" />
