<div class="mt-2 border-gray-700">
  <a class="text-3xl font-semibold hover:underline text-black"
    [routerLink]="['/article/read', metadata.articleId]">{{metadata.title}}</a>
  <h5 class="font-monospace text-gray-600 font-thin">{{ metadata.time }}</h5>

  <div class="grid grid-rows-2 grid-cols-3 w-3/4">
    <div class="flex p-2 m-2 col-span-1 row-span-2 bg-gray-800 rounded-lg text-white items-center">
      <p class="m-auto">{{metadata.category}}</p>
    </div>
    <div class="flex p-2 m-2 col-span-1 row-span-1 bg-gray-200 rounded-lg text-black items-center" *ngFor="let tag of metadata.tags">
      <p class="m-auto">{{tag}}</p>
    </div>
  </div>
</div>
<hr class="h-px my-8 bg-gray-200 border-0" />
