<header>
  <div class="blog-container">
    <nav class="navbar">
      <div class="navbar-container">
        <div class="container-fluid">
          <a class="site-name" href="#">Blog</a>

          <a class="site-entry menu-text" [routerLink]="['/home']">Home</a>
          <a class="site-entry menu-text" [routerLink]="['/category/list']">Categories</a>
          <a class="site-entry menu-text" [routerLink]="['/article/list']">Articles</a>
          <a class="site-entry menu-text" [routerLink]="['/tag/list']">Tags</a>
          <a class="site-entry menu-text" [routerLink]="['/page/list']">Pages</a>
        </div>
      </div>
    </nav>
  </div>
</header>
