<header>
  <div class="blog-container">
    <nav class="navbar">
      <div class="navbar-container">
        <div class="container-fluid">
          <a class="site-name" [routerLink]="['/home']">Blog</a>

          <a class="site-entry menu-text" [routerLink]="['/home']" [routerLinkActive]="'bg-gray-100 rounded-md shadow-inner'">Home</a>
          <a class="site-entry menu-text" [routerLink]="['/category/list']" [routerLinkActive]="'bg-gray-100 rounded-md shadow-inner'">Categories</a>
          <a class="site-entry menu-text" [routerLink]="['/article/list']" [routerLinkActive]="'bg-gray-100 rounded-md shadow-inner'">Articles</a>
          <a class="site-entry menu-text" [routerLink]="['/tag/list']" [routerLinkActive]="'bg-gray-100 rounded-md shadow-inner'">Tags</a>
          <a class="site-entry menu-text" [routerLink]="['/page/list']" [routerLinkActive]="'bg-gray-100 rounded-md shadow-inner'">Pages</a>
        </div>
      </div>
    </nav>
  </div>
</header>
