<body>
  <ng-template *ngIf="displayOutline; then outlinedPage; else pureWebpage" />

  <ng-template #outlinedPage>
    <app-nav-menu></app-nav-menu>
    <main class="w-2/3 m-auto flex flex-col min-h-screen">
      <div ngxScrollTop class="{{ bttClassList }}">
        <fa-icon [icon]="arrowUp"></fa-icon>
      </div>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </ng-template>
  <ng-template #pureWebpage>
    <router-outlet></router-outlet>
  </ng-template>
</body>
