<div class="panel">
  <img class="background-img w-full h-screen bg-black brightness-50" src="/assets/about/background.png" alt="Background image" />

  <div class="backdrop-blur-sm">
    <div class="flex relative h-screen w-5/6">
      <div class="flex flex-col w-full content-between items-between relative my-auto">
        <img class="p-4 mx-auto w-2/5 aspect-auto rounded-full bg-white drop-shadow-xl outline-8 outline-gray-300" src="/assets/about/avatar.svg" alt="Jeb Feng's avatar" />
      </div>

      <div class="flex flex-col w-full content-between items-between relative my-auto">
        <div class="items-end mr-16 ml-5">
          <h2 class="text-right text-6xl font-bold title-text text-white">Jeb Feng</h2>

          <div class="grid grid-cols-2 text-center gap-2 mt-8 font-mono ml-12 text-lg">
            <div class="my-tag">&lt;Developer /&gt;</div>
            <div class="my-tag">&lt;Senior High /&gt;</div>
            <div class="my-tag">&lt;INFP-T /&gt;</div>
            <div class="my-tag">&lt;Gen Z /&gt;</div>
          </div>

          <div class="text-right mt-6 text-lg text-white">
            <a [routerLink]="['/home']" class="hover-underline-animation">Continue <fa-icon [icon]="arrowRight" class="ml-2"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
