.background-img {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  background: rgba(255, 255, 255, 0);
  filter: brightness(50%);
}

.panel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hover-underline-animation {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
