<div class="blog-home-card">
  <div class="m-4">
    <app-page-view [pageId]="homePageId"></app-page-view>
  </div>
</div>
<div class="grid grid-cols-3 mt-4">
  <div class="blog-home-widget col-span-2 mr-2">
    <h3 class="blog-home-widget-header">Latest articles</h3>
    <div class="blog-home-widget-list-container" *ngFor="let article of latestArticles">
      <a class="blog-home-widget-list-item-header" [routerLink]="['/article/read', article.articleId]">{{ article.title }}</a>
      <h5 class="blog-home-widget-list-item-description">{{ article.time }}</h5>
    </div>
  </div>
  <div class="blog-home-widget col-span-1 ml-2">
    <h3 class="blog-home-widget-header">Categories</h3>
    <div class="blog-home-widget-list-container" *ngFor="let category of categories">
      <a class="blog-home-widget-list-item-header" [routerLink]="['/category/detail', category.name]">{{ category.name }}</a>
      <h5 class="blog-home-widget-list-item-description">Containing {{ category.count }} article(s)</h5>
    </div>
  </div>
</div>
