<div class="mt-8">
  <h1 class="text-6xl font-extralight my-2">Welcome to my blog!</h1>
  <h2 class="text-4xl font-medium my-2">My name is <span class="font-bold italic">Jeb Feng</span></h2>
  <h5 class="text-lg font-light font-mono my-2">Senior high student & Software developer</h5>

  <p class="mt-2">
    I am a high school student, also a developer. Born in 2005, Chinese.<br />
    I'm the founder of StaplerIO, but there's only one person in the team, me. <br />
    Currently focusing on one project: <a class="hover:underline text-blue-600 italic" href="https://dev.staplerio.com/Arc/arc_compiler" target="_blank" rel="noopener">The Arc Programming Language</a>.
    You can check it out and all of my projects on <a class="hover:underline text-blue-600" href="https://dev.staplerio.com" target="_blank" rel="noopener">hServer</a>. <br />
    Also, you can find me in these websites following these links below.
  </p>

  <div class="mt-3">
    <h3 class="text-3xl font-semibold">Some of the links</h3>
    <div class="mt-1 grid grid-cols-2">
      <a class="mr-4 hover:underline text-blue-600" href="https://github.com/Ranzeplay" target="_blank" rel="noopener">
        <fa-icon [icon]="faGitHub"></fa-icon>
        GitHub
      </a>
      <a class="mr-4 hover:underline text-blue-600" href="mailto:ranzeplay@outlook.com" target="_blank" rel="noopener">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        Mail
      </a>
        <a class="mr-4 hover:underline text-blue-600" href="https://space.bilibili.com/102116986" target="_blank"
          rel="noopener">
          <fa-icon [icon]="faYouTube"></fa-icon>
          Bilibili Channel
        </a>
      <a class="mr-4 hover:underline text-blue-600" href="https://dev.staplerio.com" target="_blank" rel="noopener">
        <fa-icon [icon]="faGit"></fa-icon>
        hServer Dev
      </a>
    </div>
    <a class="mr-4 hover:underline text-blue-600" href="https://mcmap.staplerio.com" target="_blank" rel="noopener">
      <fa-icon [icon]="faGamePad"></fa-icon>
      hServer Minecraft Server
    </a>
  </div>
</div>
