/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-underline-animation {
	transition: border-bottom 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
}

.hover-underline-animation:hover {
	border-bottom: 2px solid currentColor;
}
